{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block extra_head_links %}
    {% endblock extra_head_links %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="#">JOB PORTAL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{home_active}}">
                    <a class="nav-link" href="{% url 'jobs_app:homepage' %}">Home </a>
                </li>
                <li class="nav-item {{candidate_active}}">
                    <a class="nav-link" href="{% url 'jobs_app:candidate_list' %}">Candidates List</a>
                </li>
                <li class="nav-item {{skill_active}}">
                    <a class="nav-link" href="{% url 'jobs_app:skills_list' %}">Skills List</a>
                </li>
                <li class="nav-item {{job_active}}">
                    <a class="nav-link" href="{% url 'jobs_app:jobs_list' %}">jobs List </a>
                </li>
                <!-- <li>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            we provide
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'jobs_app:candidate_list' %}">Candidates List</a>
                            <a class="dropdown-item" href="{% url 'jobs_app:skills_list' %}">Skills Training List</a>
                            <a class="dropdown-item" href="{% url 'jobs_app:jobs_list' %}">jobs List </a>
                        </div>
                    </div>
                </li> -->
                <!--<li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jobs_app:change_password' %}">Change Password</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jobs_app:user_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="margin-left: -2rem;">
                        <a class="dropdown-item" href="{% url 'jobs_app:user_login' %}">Login</a>
                        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Signup
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="margin-left: -2rem;">
                        <a class="dropdown-item" href="{% url 'jobs_app:user_signup' %}">Signup</a>
                        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block override_container %}
    <div class="container">
        {% block body_content %}
        {% endblock body_content %}
    </div>
    {% endblock override_container %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock extra_js %}
</body>

</html>