{% extends 'jobs_app/base.html' %} 
{% block body_content %}
<h2 class="text-center">Edit Skill - {{skill.technology}}</h2>
<div class="text-center">
<form action="." method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="technology" name="technology">technology</label>
    <textarea name="technology" cols="40" rows="1" class="vLargeTextField" required="True" id="id_technology"> {{ skill.technology}}</textarea>
  </div>
  {% if 'technology' in errors %}
    <ul class="errorlist">
        <span style="color:Red">{{errors.technology}}</span>
    </ul>
    {% endif %}
  <div class="form-group">
    <label for="courseDuration" name="courseDuration">courseDuration</label>
    <textarea name="courseDuration" cols="40" rows="1" class="vLargeTextField" required="" id="id_courseDuration">{{ skill.courseDuration}}</textarea>
  </div>
  {% if 'courseDuration' in errors %}
    <ul class="errorlist">
        <span style="color:Red">{{errors.courseDuration}}</span>
    </ul>
    {% endif %}
  <div class="form-group">
    <label for="price" name="price">price</label>
    <textarea name="price" cols="40" rows="1" class="vLargeTextField" required="" id="id_price">{{ skill.price}}</textarea>
  </div>
  {% if 'price' in errors %}
    <ul class="errorlist">
        <span style="color:Red">{{errors.price}}</span>
    </ul>
    {% endif %}
  <div class="form-group">
    <label for="description" name='description'>Description</label>
    <textarea name="description" cols="40" rows="3" class="vLargeTextField" id="id_description">{{ skill.description}}</textarea>
  </div>
  <div class="form-group">
    <p><input type="submit" value="Update Job"></p>
  </div>
  
</form>
</div>
{%endblock body_content%}